{% extends 'layout.html' %}
{% set page_title = 'Login' %}
{% set nav_title = 'Login' %}

{% block page_style %}
<link rel="stylesheet" href="{{url_for('static',filename='custom/css/auth.css')}}">
{% endblock %}

{% block page_body %}

<main class="bg-pattern">
  <div class="row g-0">
    <div class="col-12 col-lg-4">
      <div class="container px-4 px-md-5 py-5 h-100 d-flex flex-column justify-content-center">
        <h1 class="text-center text-custom fw-bold">Login</h1>
        <p class="text-center mb-4">
          <span class="opacity-75">Don't have an account?</span>
          <a href="{{url_for('auth.register')}}"
            class="link-custom link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Register
          </a>
        </p>

        <form method="post">
          {{form.csrf_token}}

          {% set field_icons = {'email': 'envelope', 'password': 'lock'} %}
          {% for field in form if field.name != 'csrf_token' %}
          <div class="input-group input-group-lg border-bottom border-secondary mb-4">
            <div class="form-floating">
              {{field(class="form-control border-0 rounded-0 bg-transparent ps-1", placeholder="")}}
              {{field.label(class="ps-0")}}
            </div>
            <span class="text-secondary input-group-text border-0 rounded-0 bg-transparent">
              <i class="fa-sharp fa-regular fa-{{field_icons.get(field.name)}}"></i>
            </span>
          </div>
          {% endfor %}

          <!-- Remember Me -->
          <div class="form-check mb-4 text-start">
            <input type="checkbox" name="remember" id="remember"
              class="form-check-input bg-transparent border-secondary">
            <label for="remember" class="form-check-label">Remember Me</label>
          </div>

          <!-- Button -->
          <div class="text-center">
            <button type="submit" class="btn btn-lg btn-custom rounded-5 w-75 fw-semibold">Login</button>
          </div>
        </form>

        <p class="mt-4 mb-0">
          <span class="opacity-75">Forgot your password?</span>
          <a href="{{url_for('auth.forgot_password')}}"
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Reset password
          </a>
        </p>
      </div>
    </div>

    <div class="col-lg-8 d-none d-lg-block">
      <img src="{{url_for('static',filename='img/auth.jpg')}}" class="img-fluid w-100">
    </div>
  </div>
</main>

{% endblock %}

{% block page_script %}
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<script>notify("{{error}}")</script>
{% endfor %}
{% endif %}
{% endfor %}
{% endblock %}