{% extends 'layout.html' %}
{% set page_title = 'Register' %}
{% set nav_title = 'Register' %}

{% block page_style %}
<link rel="stylesheet" href="{{url_for('static',filename='custom/css/auth.css')}}">
{% endblock %}

{% block page_body %}

<main class="bg-pattern">
  <div class="row g-0">
    <div class="col-12 col-lg-4">
      <div class="container px-4 px-md-5 py-5 h-100 d-flex flex-column justify-content-center">
        <h1 class="text-center text-custom fw-bold">Register</h1>
        <p class="text-center mb-4">
          <span class="opacity-75">Have an account?</span>
          <a href="{{url_for('auth.login')}}"
            class="link-custom link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Login
          </a>
        </p>

        <form method="post">
          {{form.csrf_token}}

          <!-- Username -->
          <div class="input-group input-group-lg mb-4 border-bottom border-secondary">
            <div class="form-floating">
              {{form.username(class="form-control border-0 rounded-0 bg-transparent ps-1", placeholder="")}}
              <label for="username" class="ps-0">Username</label>
            </div>
            <span class="text-secondary input-group-text border-0 rounded-0 bg-transparent">
              <i class="fa-sharp fa-regular fa-user"></i>
            </span>
          </div>

          <!-- Email -->
          <div class="input-group input-group-lg mb-4 border-bottom border-secondary">
            <div class="form-floating">
              {{form.email(class="form-control border-0 rounded-0 bg-transparent ps-1", placeholder="")}}
              <label for="email" class="ps-0">Email</label>
            </div>
            <span class="text-secondary input-group-text border-0 rounded-0 bg-transparent">
              <i class="fa-sharp fa-regular fa-envelope"></i>
            </span>
          </div>

          <!-- Password -->
          <div class="input-group input-group-lg border-bottom border-secondary mb-4">
            <div class="form-floating">
              {{form.password(class="form-control border-0 rounded-0 bg-transparent ps-1", placeholder="")}}
              <label for="password" class="ps-0">Password</label>
            </div>
            <span class="text-secondary input-group-text border-0 rounded-0 bg-transparent">
              <i class="fa-sharp fa-regular fa-lock"></i>
            </span>
          </div>

          <!-- Button -->
          <div class="text-center">
            <button type="submit" class="btn btn-lg btn-custom rounded-5 w-75 fw-semibold">Register</button>
          </div>
        </form>

        <p class="mt-4 mb-0 text-secondary text-center">
          By submitting this form, I accept the <a href="{{url_for('views.terms')}}"
            class="link-custom link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Terms of
            Service</a> and <a href="{{url_for('views.privacy')}}"
            class="link-custom link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Privacy
            Policy</a>
        </p>
      </div>
    </div>

    <div class="col d-none d-lg-block">
      <img src="{{url_for('static',filename='img/auth.jpg')}}" class="img-fluid w-100">
    </div>
  </div>
</main>

{% endblock %}

{% block page_script %}
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<script>notify("{{error}}")</script>
{% endfor %}
{% endif %}
{% endfor %}
{% endblock %}