{% extends 'admin/layout.html' %}
{% set page_title = 'Categories' %}
{% set nav_title = 'Categories' %}
{% set page_icon = 'tag' %}

{% block page_style %}{% endblock %}

{% block page_body %}

<div
  class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between gap-3 align-items-md-end align-items-center">
  <a href="{{url_for('admin.new_category')}}" class="btn btn-lg btn-custom rounded-0">Create new category</a>
  <div class="text-center text-md-start">
    <label for="search">Search:</label>
    <input name="search" id="search" type="text" class="form-control rounded-0">
  </div>
</div>

<div class="table-responsive mt-4">
  <table class="align-middle w-100 mb-3 display nowrap">
    <thead class="opacity-75">
      <tr>
        <th>Id</th>
        <th>Category</th>
        <th>Icon</th>
        <th>Image</th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>

{% endblock %}

{% block page_script %}
<script>
  var table = new DataTable('table', {
    ajax: {
      url: "{{url_for('admin.get_categories')}}", type: "POST", dataFilter: function (data) {
        var json = $.parseJSON(data)
        return JSON.stringify(json)
      }
    },
    processing: true,
    serverSide: true,
    responsive: true,
    search: { return: true },
    dom: 'rtip',
    "pageLength": 5,
    columnDefs: [
      { targets: [0, -1], orderable: false, },
      { responsivePriority: 1, targets: 1 },
      { responsivePriority: 2, targets: -1 },
    ],
    order: [[0, 'desc']],
    columns: [
      { data: "_id.$oid" },
      { data: "category" },
      {
        data: "icon", render: function (data) {
          return `<i class="fa-sharp fa-regular fa-${data}"></i>`
        }
      },
      {
        data: "image", render: function (data) {
          return `<img src="${data}" class="object-fit-cover" width="40px" height="40px">`
        }
      },
      {
        data: "_id.$oid", render: function (data) {
          return `<a href="categories/manage/${data}" class="btn btn-dark rounded-0 btn-sm"><i class="fa-sharp fa-solid fa-gear"></i></a>`
        }
      }
    ],
  });

  $("#search").keypress(function (e) {
    if (e.keyCode === 13) {
      table.search(this.value).draw()
    }
  });
</script>
{% endblock %}