{% macro category_card(category) %}
<a class="category-card card text-bg-dark rounded-0 border-0" href="{{url_for('views.books',category_id=category._id)}}">
  <img src="{{category.image}}" class="card-img rounded-0 object-fit-cover h-100">
  <div class="card-img-overlay">
    <h4 class="card-title text-custom fw-bold">{{category.category}}</h4>
    <p class="card-text small">{{category.book_count}} Materials</p>
  </div>
</a>
{% endmacro %}

{% macro bookmark(book_id) %}
{% if session.user %}
<div class="position-absolute top-0 end-0 z-2 opacity-75">
  <button class="bookmark btn {{'btn-success' if book_id|string in session.user.bookmarks else 'btn-dark'}} rounded-0 border-0"
    data-book-id="{{book_id}}">
    <i class="fa-sharp fa-regular fa-bookmark"></i>
  </button>
</div>
{% endif %}
{% endmacro %}

{% macro book_card(book) %}
<div class="card rounded-0 border-0 overflow-hidden" title="{{book.title}}">
  {{bookmark(book._id)}}
  <img src="{{book.cover}}" class="card-img-top bg-dark rounded-0 object-fit-cover h-100">
  <div class="card-body px-0 pt-2 pb-0">
    <h6 class="card-title text-truncate text-secondary mb-1 fw-semibold">
      <a href="{{url_for('views.view_book',book_id=book._id)}}"
        class="stretched-link link-custom link-offset-1 link-underline-opacity-0 link-underline-opacity-50-hover">
        {{book.title}}
      </a>
    </h6>
    <p class="card-text small text-secondary text-truncate">{{book.author|join(', ')}}</p>
  </div>
</div>
{% endmacro %}

{% macro delete_modal(title,description,endpoint) %}
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-0 border-0 shadow">
      <div class="modal-body p-4 text-center">
        <h3 class="fw-semibold text-danger">{{title}}</h3>
        <p class="fs-5 mb-0 fw-medium opacity-75">{{description}}</p>
      </div>
      <form action="{{endpoint}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-footer flex-nowrap p-0">
          <button type="submit"
            class="btn btn-lg btn-danger text-decoration-none col-6 py-3 m-0 rounded-0 border-0">Delete</button>
          <button type="button" class="btn btn-lg text-decoration-none col-6 py-3 m-0 rounded-0 border-0"
            data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro %}