{% if session.user %}
  {% if not session.user.verified %}
  <div class="toast-container position-fixed bottom-0 p-3">
    <div class="toast fade fade-in-left show alert bg-danger-subtle border-danger rounded-0">
      <div class="d-flex">
        <div class="toast-body">
          <strong>Email verficiation pending.</strong>
          An email has been sent to you for verficiation.
          <a href="" data-url="{{url_for('auth.resend_email_verification_mail', reason='email')}}"
            class="resend-otp link-primary link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover">
            Resend
          </a>
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"></button>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}