<div class="offcanvas offcanvas-top bg-dark border-0 h-100" id="search-canvas" data-bs-theme="dark">
  <div class="offcanvas-header pe-4 pe-md-5 pt-5">
    <button type="button" class="btn-close fs-1 ms-auto" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body pb-5 d-flex flex-column justify-content-center">
    <div class="col-md-8 offset-md-2">

      <form id="search">
        <div class="input-group mb-4 border-bottom border-secondary">
          <div class="form-floating">
            <input name="query" id="query" type="text"
              class="form-control form-control-lg border-0 rounded-0 bg-transparent ps-1" placeholder="">
            <label for="query" class="ps-0">Search</label>
          </div>
          <span class="text-secondary input-group-text border-0 rounded-0 bg-transparent">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
          </span>
        </div>
      </form>

    </div>
  </div>
</div>