{% extends 'layout.html' %}
{% set page_title = 'Books' %}
{% set nav_title = 'Books' %}

{% block page_style %}{% endblock %}

{% block page_body %}

<div class="bg-pattern py-5 text-center text-xl-start">
  <div class="container py-5">
    <h1 class="display-1 fw-bold">Books</h1>
  </div>
</div>

<div class="container my-5">
  <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 row-gap-4">
    {% for book in books %}
    <div class="col">
      <div class="card rounded-0 border-0 overflow-hidden">
        <img src="{{book.cover}}" class="card-img-top bg-dark rounded-0 object-fit-cover h-100">
        <div class="card-body px-0 pt-2 pb-0">
          <h6 class="card-title text-truncate text-secondary mb-1 fw-semibold">
            <a href=""
              class="stretched-link link-custom link-offset-1 link-underline-opacity-0 link-underline-opacity-50-hover">
              {{book.title}}
            </a>
          </h6>
          <p class="card-text small text-secondary text-truncate">{{book.author|join(', ')}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block page_script %}{% endblock %}