{% extends 'layout.html' %}
{% set page_title = 'Books' %}
{% set nav_title = 'Books' %}

{% block page_style %}{% endblock %}

{% block page_body %}

<div class="bg-pattern py-5 text-center text-xl-start">
  <div class="container">
    <h1 class="display-1 fw-bold">Books</h1>
  </div>
</div>

{% macro book_card(book) %}
<div class="card rounded-0 border-0 overflow-hidden" title="{{book.title}}">
  <img src="{{book.cover}}" class="card-img-top bg-dark rounded-0 object-fit-cover h-100">
  <div class="card-body px-0 pt-2 pb-0">
    <h6 class="card-title text-truncate text-secondary mb-1 fw-semibold">
      <a href="{{url_for('views.view_book',book_id=book._id)}}"
        class="stretched-link link-custom link-offset-1 link-underline-opacity-0 link-underline-opacity-50-hover">
        {{book.title}}
      </a>
    </h6>
    <p class="card-text small text-secondary text-truncate">{{book.author|join(', ')}}</p>
  </div>
</div>
{% endmacro %}

{% if books|selectattr('type', 'equalto', 'book')|list|length > 0 %}
<div class="container my-5">
  <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 row-gap-4">
    {% for book in books if book.type == 'book' %}
    <div class="col">{{book_card(book)}}</div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if books|selectattr('type', 'equalto', 'video')|list|length > 0 %}
<div class="container my-5">
  <h2 class="fw-bold mb-4">Videos</h2>
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-gap-4">
    {% for book in books if book.type == 'video' %}
    <div class="col">{{book_card(book)}}</div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if books|length == 0 %}
<div class="container my-5">
  <div class="alert alert-danger rounded-0" role="alert">
    No books found.
  </div>
</div>
{% endif %}

{% endblock %}

{% block page_script %}{% endblock %}