{% extends 'layout.html' %}
{% set page_title = 'Categories' %}
{% set nav_title = 'Categories' %}

{% block page_style %}
<link rel="stylesheet" href="{{url_for('static',filename='custom/css/category.css')}}">
{% endblock %}

{% block page_body %}

<div class="bg-pattern py-5 text-center text-xl-start">
  <div class="container">
    <h1 class="display-1 fw-bold">Categories</h1>
  </div>
</div>

{% from 'partial/_macros.html' import category_card with context %}

<div class="container my-5">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-gap-4">
    {% for category in categories %}
    <div class="col">{{category_card(category)}}</div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block page_script %}{% endblock %}