@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-custom: #f3701d;
  --color-custom-rgb: 243, 112, 29;
  --color-custom-dark: #e23826;
  --color-custom-dark-rgb: 226, 56, 38;
  --color-darker: #1e1e1e;
  --color-darker-rgb: 30, 30, 30;
}

* {
  font-family: 'Poppins', sans-serif;
}

*:focus-visible,
*:focus {
  box-shadow: none !important;
}

.offcanvas-body::-webkit-scrollbar {
  display: none;
}

.form-floating label::after {
  background-color: transparent !important;
}

.bg-dark {
  background-color: rgba(var(--color-darker-rgb), var(--bs-bg-opacity)) !important;
}

.text-bg-dark {
  background-color: RGBA(var(--color-darker-rgb), var(--bs-bg-opacity, 1)) !important;
}

.btn-dark {
  --bs-btn-bg: var(--color-darker);
  --bs-btn-border-color: var(--color-darker);
  --bs-btn-disabled-bg: var(--color-darker);
  --bs-btn-disabled-border-color: var(--color-darker);
}

.text-custom {
  --bs-text-opacity: 1;
  color: rgba(var(--color-custom-rgb), var(--bs-text-opacity)) !important;
}

.text-custom-gradient {
  background: linear-gradient(to right, var(--color-custom), var(--color-custom-dark));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-custom {
  color: rgba(var(--color-custom-rgb), var(--bs-link-opacity, 1)) !important;
  -webkit-text-decoration-color: rgba(var(--bs-info-rgb), var(--bs-link-underline-opacity, 1)) !important;
  text-decoration-color: rgba(var(--color-custom-rgb), var(--bs-link-underline-opacity, 1)) !important;
}

.link-custom.text-decoration-none:hover {
  color: rgba(var(--color-custom-dark-rgb), var(--bs-link-opacity, 1)) !important;
}

.link-offset-4 {
  text-underline-offset: .75rem;
  text-decoration-thickness: 2px !important;
}

.link-underline-custom {
  --bs-link-underline-opacity: 1;
  -webkit-text-decoration-color: rgba(var(--color-custom-rgb), var(--bs-link-underline-opacity)) !important;
  text-decoration-color: rgba(var(--color-custom-rgb), var(--bs-link-underline-opacity)) !important;
}

.bg-custom {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--color-custom-rgb), var(--bs-bg-opacity)) !important;
}

.bg-custom-gradient {
  background: linear-gradient(to right, var(--color-custom), var(--color-custom-dark));
}

.btn-custom {
  --bs-btn-color: var(--bs-light);
  --bs-btn-bg: var(--color-custom);
  --bs-btn-border-color: var(--color-custom);
  --bs-btn-hover-color: var(--bs-light);
  --bs-btn-hover-bg: var(--color-custom-dark);
  --bs-btn-hover-border-color: var(--color-custom-dark);
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: var(--bs-light);
  --bs-btn-active-bg: var(--color-custom-dark);
  --bs-btn-active-border-color: var(--color-custom-dark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-light);
  --bs-btn-disabled-bg: var(--color-custom);
  --bs-btn-disabled-border-color: var(--color-custom);
}

.btn-custom {
  background-size: 200%;
  background-image: linear-gradient(to right, var(--color-custom), var(--color-custom-dark), var(--color-custom));
  transition: background-position .5s;
  border: none;
}

.btn-custom:hover {
  background-position: right center;
}

.border-custom {
  --bs-border-opacity: 1;
  border-color: rgba(var(--color-custom-rgb), var(--bs-border-opacity)) !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background: linear-gradient(to right, var(--color-custom), var(--color-custom-dark));
}

input:focus,
.input-group:focus-within {
  border-color: var(--color-custom) !important;
}

.nav-link.link-secondary:focus,
.nav-link.link-secondary:hover {
  color: RGBA(var(--color-custom-rgb), var(--bs-link-opacity, 1)) !important;
  -webkit-text-decoration-color: RGBA(var(--color-custom-rgb), var(--bs-link-underline-opacity, 1)) !important;
  text-decoration-color: RGBA(var(--color-custom-rgb), var(--bs-link-underline-opacity, 1)) !important;
}

@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }
}

@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
}

.user-avatar {
  border-radius: 50%;
  object-fit: cover;
}

.accordion-button:not(.collapsed) {
  color: var(--color-custom) !important;
  box-shadow: none !important;
}

[data-bs-theme=dark] .accordion-button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f3701d'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e23826'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.fade-in-right.show {
  animation: fade-in-right 500ms ease-in-out 1 normal both;
}

.fade-in-right.hide {
  animation: fade-out-right 500ms ease-in-out 1 normal both;
}

.fade-in-left.show {
  animation: fade-in-left 500ms ease-in-out 1 normal both;
}

.fade-in-left.hide {
  animation: fade-out-left 500ms ease-in-out 1 normal both;
}

.fade-in-bottom.show {
  animation: fade-in-bottom 500ms ease-in-out 1 normal both;
}

.fade-in-bottom.hide {
  animation: fade-out-bottom 500ms ease-in-out 1 normal both;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-right {
  0% {
    opacity: 1;
    transform: translateX(0);
    display: block;
  }

  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-left {
  0% {
    opacity: 1;
    transform: translateX(0);
    display: block;
  }

  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-bottom {
  0% {
    opacity: 1;
    transform: translateY(0);
    display: block;
  }

  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}